@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');

:root {
    --cor-primaria: #000000;
    --cor-secundaria: white;
    --cor-terciaria: #735F32;

    --border-hover:#C69749;
    --back-hover:#272727;
    --cabecalho-hover:#C69749;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.titulo-destaque {
    color: var(--cor-terciaria);
}

.cabecalho {
    padding: 2% 0% 0% 15%;
    

}



.cabecalho_menu {
    display: flex;
    gap: 80px;

}

.cabecalho_menu_link:hover {

    color: var(--cabecalho-hover);

}

.cabecalho_menu_link {
    font-family: var(--fonte-secundaria);
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
    
    
}


.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;

}


.conteudo {

    width: 50%;
    display: flex;
    flex-direction:column;
    gap: 30px ;
    
}

.apresentacao_texto {
    font-size: 1.06rem;
    font-family: var(--fonte-primaria);
    text-decoration: none;
    display: flex;
    flex-direction: column;
    gap:30px;
}

.certificados_alura{
    color: gray;
}

.certificados {
    text-decoration: none;
    color: var(--cor-secundaria);
}

.especificacao {
    display:block;
    list-style-type:circle;
    margin-top: 1%;
    margin-left: 20px;
    
}


.titulo {

    font-size: 1.87rem;
    font-family: var(--fonte-primaria);
}

.paragrafo {
    font-size: 1.12rem;
    font-family: var(--fonte-secundaria);
}

.titulo_botoes {

    font-size: 1.06rem;
    font-family: var(--fonte-primaria);
}

.botoes {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
}

.links {
    display: flex;
    justify-content: center;
    gap:10px;
    width: 50%;
    border-radius: 8px;
    border: 1px solid var(--cor-terciaria);
    text-align: center;
    font-size: 1.12rem;
    font-weight: 600;
    padding: 9px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    
    
}

.img_botoes {
    height: 20px;
    
}

.links:hover{
    background-color: var(--back-hover);
    border-color: var(--border-hover);
    padding: 2%;
    
}

.sobre {
    padding: 10% 0% 0% 0%;
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 30px ;
       
    
}

.titulo2 {
    padding: 10px;
    font-size: 1.87rem;
    font-family: var(--fonte-primaria);

}

.foto {

    border-radius: 13px;
    width: 50%;
    margin-left: 10%; 
    margin-right: 0%; 
    margin-bottom: 50%;

        
}

.rodape {
    padding: 10px;
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.25rem; 

}

@media (max-width: 1200px) {
    
    .cabecalho{
        padding: 2%;
    }

    .cabecalho_menu{
        justify-content: center;
    }
    
    .apresentacao{
        flex-direction: column-reverse;
        padding: 5%;
    }

    .conteudo{
        width: auto;
    }

    .sobre{
        
        justify-content: center;
        width: auto;
    }

    .foto{
        margin-bottom: 0%;
        margin-left: 0%;
    }
}